*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/*Header-container*/
header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*banner-section*/
.banner{
    text-align: right;
    padding-right: 230px;    
}
.banner-title{   
    padding-top: 126px;
    font-weight: 700;
    font-size: 65px;    
    color: #FFFFFF;
}
.banner-title-description{    
    margin-top: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
.button-primary{    
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 166px;
    padding: 25px 21px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}
/*main-container*/
main{
     max-width: 1140px;
     margin: 0 auto;
}
/*failures-section*/ 
.failures{
    margin-top: 131px;
    display: flex;
    align-items: center;
    gap: 87px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.failures-description{
    margin-top: 24px;
    margin-bottom: 16px;
    color: #444343;
}
.failures-list{
    margin-top: 8px;
    color: #444343;
}
.failures-check{
    color: hsl(0, 100%, 50%);
}
/*success-section*/
.success-container{
    margin-top: 130px;  
}
.success-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.success-skill-work{
    display: flex;
    justify-content: space-between;        
}
.skill{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700px;
    font-size: 35px;
    color: rgb(50, 49, 59);
}
.skill-work{
    display: fleX;
    gap: 120px;   
}
.skill-work-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #151414    
}
.skill-work-description{
    font-weight: 500;
    font-size: 18px;
    color: #737272;
    margin-top: 20px;
    margin-bottom: 8px;
}
.success-check{
    color: hsl(0, 100%, 50%);
}
/*plan-section*/
.plan{
    text-align: center;
}
.plan-title{
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;  
}
.plan-details-for-flex{
    display: flex;
    gap: 85px;
}
.plan-details-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #151414;
}
.plan-details-description{
    font-weight: 500px;
    font-size: 25px;
    color: #737272;   
}
/*linear-section*/
.linear{
    margin: 130px 0px;
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/gradient1.png), url(../images/watch.png);
    border-radius: 8px;
    height: 300px;  
}
.linear-title-button{
    padding-top: 59px;
    padding-right: 617px;
    padding-left: 64px;   
}
.linear-title{
    padding-bottom: 24px;
    font-weight: 700px;
    font-size: 40px;  
}
/* footer-container*/
footer{  
    background-color: #151414;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;  
}
/*future-section*/
.future{
    padding-bottom: 130px;
    padding-top: 130px;
    padding-left: 230px; 
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.future-description{
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 16px;
}
.future-email{
    color: #FFFFFF;
}
.future-phone{
    padding-top: 16px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
/*fb-tw--yu*/
a{
    padding-left: 5px;   
}
/*subscribe-section*/
.subscribe{
    padding-top: 157px;
    margin-right: 229px;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
input[type="email"]{
    width: 100%;
    padding: 20px;
    color: #FFFFFF;
    border: 1px solid;
    background:#151414;
    border-radius: 8px;
}
.subscribe-button{
    margin-top: 16px;
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    padding: 20px 25px;  
}