*{
    margin: 0;
}
/* Header-Banner */
header{
    background-image: url(../images/banner/banner3.png);
    height: 808px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 206px ;
}
.banner{
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;

}
.banner-title-description{
    margin-top: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
.button-primary{
    font-weight: 600;
    font-size: 20px;
    padding: 25px 21px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}
/* main */
/* section-failures */
main{
     max-width: 1140px;
     margin: 0 auto;
}
/* section-failures */
.section-failures{
    display: flex;
    align-items: center;
    gap: 87px;
}
.section-failures-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.section-failures-description{
    margin-top: 24px;
    margin-bottom: 16px;
    color: #444343;
}
.section-failures-list{
    margin-top: 8px;
    color: #444343;
}
.failures-check{
    color: hsl(0, 100%, 50%);
}
.success-check{
    color: hsl(150, 100%, 50%);
}

/* my-success */
.my-success-container{
    margin-top: 130px;
    
}
.succes-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.success-skill-work{
    display: flex;
    justify-content: space-between;
      
          
}

.my-skill{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700px;
    font-size: 35px;
    color: rgb(255, 157, 127);
    

}

.language-computer{
    display: fleX;
    gap: 120px;
    
}
.language-skill{
    
    
    
}
.language-skill-right{
    
    
}
.language-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #151414
    
}
.english{
    font-weight: 500;
    font-size: 18px;
    color: #737272;
    margin-top: 20px;
    margin-bottom: 8px;
}
.arabic{
    font-weight: 500;
    font-size: 18px;
    color: #737272;
    margin-top: 8px;
    margin-bottom: 8px;
}
/* sectio-paln */
.section-plan{
    text-align: center;
}
.plan-title{
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    
}
.plan-details-flex{
    display: flex;
   gap: 86px;
}


.plan-details-title{
    font-weight: 700px;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
    gap: 56px;
    color: #151414
}
.plan-details-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-bottom: 192px;
}

/* section-linear */
.section-linear{
     
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(/images/gradient1.png), url(/images/watch.png);
    border-radius: 8px;
   
    
    
}
.linear-title-button{
    height: 300px;
    margin-left: 59px;
    margin-right: 617px;
}
.linear-title{
    padding-top: 64px;
    padding-bottom: 24px;
    font-weight: 700px;
    font-size: 40px;  
}
/* footer-section */
.footer-cotainer{
   
    background-color: #151414;
    margin-top: 130px;
    display: flex;
    gap: 331px;
    padding-top: 130px;
    padding-left: 230px;
}
/* section-future */
.section-future{
    padding-bottom: 130px;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.future-description{
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 16px;
}
.future-email{
    color: #FFFFFF;
}
.future-phone{
    margin-top: 16px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
/* section-subscribe */
.section-subscribe{
    margin-right: 229px;

}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
input[type="email"]{
    width: 100%;
    padding: 20px;
    color: #FFFFFF;
    border: 1px solid;
    background: none;
    border-radius: 8px;
}




.subscribe-button{
    margin-top: 16px;
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    padding: 20px 25px;  
}